@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background: #FEF4F8;
  background: linear-gradient(0deg, #E7E2FF 0%, #FEF4F8 100%);
}

/*-------------------------------------------------------------------------------------------  [NavBar ] -----  */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FEF4F8;
  background: linear-gradient(90deg, #FFC1D7 0%, #E7E2FF 100%);
}

.nav-brand {
  background-color: #FF75A7;
  height: 3.5rem;
  width: 10rem;
  margin: 1rem;
  border-radius: 2rem;
}
.nav-brand i {
  color: white;
  margin-left: 40%;
}

/*-----------------------------  [Drop] -----  */
.cart-btn {
  background-color: #FF75A7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

/* The container <div> - needed to position the dropdown content */
.cart {
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}

.cart-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.cart-list .cart-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.cart-list .cart-list-item img {
  max-width: 60px;
}
.cart-list .cart-list-item button {
  align-self: stretch;
  padding: 1rem;
  color: white;
  background-color: #FF75A7;
  border: none;
  cursor: pointer;
}
.cart-list .cart-list-item button:hover {
  background-color: #FFC1D7;
}

/* Show the dropdown menu on hover */
.cart:hover .cart-list {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.cart:hover .cart-btn {
  background-color: #E7E2FF;
  color: rgba(0, 0, 0, 0.503);
}

/*-------------------------------------------------------------------------------------------  [Body ] -----  */
section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: grid;
  gap: 6rem;
  grid-template-columns: auto auto auto;
}
@media (max-width: 960px) {
  .card-container {
    grid-template-columns: auto auto;
    gap: 4rem;
  }
}
@media (max-width: 700px) {
  .card-container {
    grid-template-columns: auto;
    gap: 2rem;
  }
}

.card {
  scale: 0.9;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -o-border-image: linear-gradient(#DFD8FF, #FFC1D7) 30;
     border-image: linear-gradient(#DFD8FF, #FFC1D7) 30;
  border-width: 10px;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 10px 9px 10px -1px rgba(0, 0, 0, 0.1);
}
.card h3 {
  margin-top: 1rem;
}
.card img {
  max-width: 100%;
}
.card p {
  padding: 1rem;
  color: rgba(0, 0, 0, 0.762);
}
.card button {
  padding: 1rem;
  margin: 5%;
  width: 90%;
  font-size: large;
  background-color: #FFC1D7;
  border: none;
  border-radius: 4rem;
  color: white;
  cursor: pointer;
}
.card button:hover {
  scale: 1.05;
  background-color: #DFD8FF;
  color: rgba(0, 0, 0, 0.503);
}/*# sourceMappingURL=styles.css.map */